In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import calendar

%matplotlib inline

In [2]:
humidity = pd.read_csv('humidity.csv')
humidity.head()

           時間  地區  average_humidity
0  2010-01-01  大直         71.416667
1  2010-01-02  大直         88.041667
2  2010-01-03  大直         85.708333
3  2010-01-04  大直         82.125000
4  2010-01-05  大直         82.958333

In [3]:
humidity.地區.unique()

array(['大直', '板橋', '桃園', '高雄', '臺中', '臺南'], dtype=object)

In [4]:
Taipei = humidity[humidity.地區=='大直'].set_index('時間')
New_Taipei = humidity[humidity.地區=='板橋'].set_index('時間')
Taichung = humidity[humidity.地區=='臺中'].set_index('時間')
Tainan = humidity[humidity.地區=='臺南'].set_index('時間')
Kaohsiung = humidity[humidity.地區=='高雄'].set_index('時間')
Taoyuan = humidity[humidity.地區=='桃園'].set_index('時間')

In [5]:
Taipei.head()

            地區  average_humidity
時間
2010-01-01  大直         71.416667
2010-01-02  大直         88.041667
2010-01-03  大直         85.708333
2010-01-04  大直         82.125000
2010-01-05  大直         82.958333

In [6]:
Taipei.index = pd.to_datetime(Taipei.index)
New_Taipei.index = pd.to_datetime(New_Taipei.index)
Taichung.index = pd.to_datetime(Taichung.index)
Tainan.index = pd.to_datetime(Tainan.index)
Kaohsiung.index = pd.to_datetime(Kaohsiung.index)
Taoyuan.index = pd.to_datetime(Taoyuan.index)

In [7]:
Taipei.head()

            地區  average_humidity
時間
2010-01-01  大直         71.416667
2010-01-02  大直         88.041667
2010-01-03  大直         85.708333
2010-01-04  大直         82.125000
2010-01-05  大直         82.958333

In [8]:
def give_temp_year_week(region, region_name):
    ticks = region.ix[:, ['地區', 'average_humidity']]
    average_humidity_perweek = ticks.average_humidity.resample('W').mean()
    name = 'average_humidity'
    
    all_date = [i.isocalendar() for i in average_humidity_perweek.index]
    year = [x[0] for x in all_date]
    week = [y[1] for y in all_date]
    complete_data = pd.DataFrame({'年':year, '週':week, '地區':region_name, name:average_humidity_perweek.values})
    complete_data[name] = complete_data.pop(name)
    
    complete_data.index = range(len(complete_data))
    return complete_data

In [9]:
Taipei_humidity = give_temp_year_week(Taipei, '臺北')
New_Taipei_humidity = give_temp_year_week(New_Taipei, '新北')
Taichung_humidity = give_temp_year_week(Taichung, '臺中')
Tainan_humidity = give_temp_year_week(Tainan, '臺南')
Kaohsiung_humidity = give_temp_year_week(Kaohsiung, '高雄')
Taoyuan_humidity = give_temp_year_week(Taoyuan, '桃園')

C:\Users\user\Anaconda2\envs\test_py3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [10]:
Taipei_humidity.head()

   地區     年   週  average_humidity
0  臺北  2009  53         81.722222
1  臺北  2010   1         85.773810
2  臺北  2010   2         70.071429
3  臺北  2010   3         76.553571
4  臺北  2010   4         79.815476

In [11]:
six_cities_humidity = pd.concat([Taipei_humidity, New_Taipei_humidity, Taichung_humidity, Tainan_humidity, Kaohsiung_humidity, Taoyuan_humidity], axis=0).reset_index(drop=True)
six_cities_humidity.tail()

      地區     年   週  average_humidity
2503  桃園  2017  48         80.965321
2504  桃園  2017  49         78.160714
2505  桃園  2017  50         78.273810
2506  桃園  2017  51         72.351190
2507  桃園  2017  52         72.583333

In [12]:
# six_cities_humidity.to_csv('six_cities_humidity.csv', index=False)