### Data is from here https://e-service.cwb.gov.tw/HistoryDataQuery/index.jsp

In [2]:
import numpy as np
import pandas as pd
import requests
import os
from tqdm import tqdm

In [2]:
# 產生data List , data List為十年份
def date():
    month31=[1,3,5,7,8,10,12]
    month30=[4,6,9,11]
    year10=['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016' ,'2017']
    year_special = ['2008', '2012', '2016', '2020']
    nday31=range(1,32)
    nday30=range(1,31)
    nday29=range(1, 30)
    nday28=range(1,29)
    day10=['01','02','03','04','05','06','07','08','09']
    month12=day10+['10','11','12']
    nday31 = map(str,nday31[9:])
    nday30 = map(str,nday30[9:])
    nday29 = map(str,nday29[9:])
    nday28 = map(str,nday28[9:])
    day31 = day10 + list(nday31)
    day30 = day10 + list(nday30)
    day29 = day10 + list(nday29)
    day28 = day10 + list(nday28)
    output=[]
    s=""
    for year in year10:
        if year in year_special:
            for month,strmonth in zip(range(1,13),month12):
                if month in month31:
                    for day in day31:
                        s = year+'-'+strmonth+'-'+day
                        output.append(s)
                elif month in month30:
                    for day in day30:
                        s = year+'-'+strmonth+'-'+day
                        output.append(s)
                else:
                    for day in day29:
                        s = year+'-02-'+day
                        output.append(s)
        else:
            for month,strmonth in zip(range(1,13),month12):
                if month in month31:
                    for day in day31:
                        s = year+'-'+strmonth+'-'+day
                        output.append(s)
                elif month in month30:
                    for day in day30:
                        s = year+'-'+strmonth+'-'+day
                        output.append(s)
                else:
                    for day in day28:
                        s = year+'-02-'+day
                        output.append(s)
    return output

In [3]:
datepickers = date()
stations = ['C0A9A0', '466880', 'C0C480', '467490', '467410', '467440']
stnames = ['%25E5%25A4%25A7%25E7%259B%25B4', '%25E6%259D%25BF%25E6%25A9%258B', '%25E6%25A1%2583%25E5%259C%2592',
          '%25E8%2587%25BA%25E4%25B8%25AD', '%25E8%2587%25BA%25E5%258D%2597', '%25E9%25AB%2598%25E9%259B%2584']

#台北市大直區,新北市板橋區,桃園市桃園,台中市台中,台南台南,高雄高雄

In [4]:
def making_url():
    
    url_list = list()
    for station, stname in zip(stations, stnames):
        for datepicker in datepickers:
            url = 'https://e-service.cwb.gov.tw/HistoryDataQuery/DayDataController.do?command=viewMain&station={}&stname={}&datepicker={}'.format(station, stname, datepicker)
            url_list.append(url)
        
    return url_list

In [5]:
url_list = making_url()

In [6]:
len(url_list)

21918

In [7]:
def find_data(url):
    df = pd.read_html(url)
    df = pd.DataFrame(df)
    
    place_time = df.iloc[0, 0]
    placename = place_time[0][0].split('_')[1]
    time = place_time[2][0].split(':')[1]
#     print (placename)
#     print (time)
    
    data = df.iloc[1, 0]
    data = pd.DataFrame(data.values[2:], columns=data.values[1])
    new_data = pd.DataFrame({'濕度' : data['相對溼度(%)RH']})   #, '降水量' : data['降水量(mm)Precp']
    
    temp = []
    for i in range(len(new_data)):
        if new_data.loc[:, '濕度'][i] != 'X':
            temp.append(float(new_data.loc[:, '濕度'][i]))
        
    mean_ = np.mean(temp)
    
    final_data = pd.DataFrame({'地區':[placename], '時間':[time], 'average_humidity':[mean_]})
    final_data = final_data.loc[:, ['時間', '地區', 'average_humidity']]
    final_data = final_data.dropna()
    
    return final_data

### 檢查的部分

In [8]:
# !pip install lxml

Requirement already satisfied: lxml in /opt/conda/lib/python3.6/site-packages
You are using pip version 9.0.1, however version 10.0.0 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [28]:
find_data(url_list[14611])

           時間  地區  average_humidity
0  2017-12-31  臺中              75.0

### 全部跑完大概13小...

In [19]:
all_data = pd.DataFrame({})
for url in tqdm(url_list[18996:]):
    final_data = find_data(url)
    all_data = all_data.append(final_data)

all_data.head()

100%|██████████| 2922/2922 [39:00<00:00,  1.25it/s]

           時間  地區  average_humidity
0  2010-01-01  高雄         74.291667
0  2010-01-02  高雄         72.833333
0  2010-01-03  高雄         73.250000
0  2010-01-04  高雄         70.708333
0  2010-01-05  高雄         71.250000

In [ ]:
# all_data.to_csv('all_data.csv', index=False)
# all_data.tail()

In [23]:
index_18996.to_csv('index_18996.csv', index=False)

In [22]:
index_18996 = all_data
index_18996.tail()

           時間  地區  average_humidity
0  2017-12-27  高雄         69.583333
0  2017-12-28  高雄         69.666667
0  2017-12-29  高雄         70.500000
0  2017-12-30  高雄         72.000000
0  2017-12-31  高雄         70.708333

In [4]:
humidity = pd.read_csv('humidity.csv')
index_15343_18265 = pd.read_csv('Tainan_15343_18265.csv')
index_15343_18265.tail()

              時間  地區  average_humidity
2915  2017-12-27  臺南         72.166667
2916  2017-12-28  臺南         74.083333
2917  2017-12-29  臺南         75.500000
2918  2017-12-30  臺南         76.375000
2919  2017-12-31  臺南         72.541667