In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import calendar

%matplotlib inline

In [2]:
temperature = pd.read_csv('temperatue.csv')
temperature.head()

           時間  地區  max_temp  min_temp  average_temp
0  2010-01-01  大直      18.4      13.7     16.379167
1  2010-01-02  大直      19.0      15.3     16.683333
2  2010-01-03  大直      17.2      14.2     15.662500
3  2010-01-04  大直      21.1      14.3     17.266667
4  2010-01-05  大直      17.4      13.7     14.845833

In [3]:
six_big_city = ['大直', '板橋', '桃園', '臺中', '高雄', '臺南']
six_data = temperature[temperature.地區.isin(six_big_city)].reset_index(drop=True)
six_data.head()

           時間  地區  max_temp  min_temp  average_temp
0  2010-01-01  大直      18.4      13.7     16.379167
1  2010-01-02  大直      19.0      15.3     16.683333
2  2010-01-03  大直      17.2      14.2     15.662500
3  2010-01-04  大直      21.1      14.3     17.266667
4  2010-01-05  大直      17.4      13.7     14.845833

In [4]:
six_data.地區.unique()

array(['大直', '板橋', '臺中', '臺南', '高雄', '桃園'], dtype=object)

In [5]:
Taipei = six_data[six_data.地區=='大直'].set_index('時間')
New_Taipei = six_data[six_data.地區=='板橋'].set_index('時間')
Taichung = six_data[six_data.地區=='臺中'].set_index('時間')
Tainan = six_data[six_data.地區=='臺南'].set_index('時間')
Kaohsiung = six_data[six_data.地區=='高雄'].set_index('時間')
Taoyuan = six_data[six_data.地區=='桃園'].set_index('時間')

In [6]:
Taipei.head()

            地區  max_temp  min_temp  average_temp
時間
2010-01-01  大直      18.4      13.7     16.379167
2010-01-02  大直      19.0      15.3     16.683333
2010-01-03  大直      17.2      14.2     15.662500
2010-01-04  大直      21.1      14.3     17.266667
2010-01-05  大直      17.4      13.7     14.845833

In [7]:
Taipei.index = pd.to_datetime(Taipei.index)
New_Taipei.index = pd.to_datetime(New_Taipei.index)
Taichung.index = pd.to_datetime(Taichung.index)
Tainan.index = pd.to_datetime(Tainan.index)
Kaohsiung.index = pd.to_datetime(Kaohsiung.index)
Taoyuan.index = pd.to_datetime(Taoyuan.index)

In [8]:
Taipei.head()

            地區  max_temp  min_temp  average_temp
時間
2010-01-01  大直      18.4      13.7     16.379167
2010-01-02  大直      19.0      15.3     16.683333
2010-01-03  大直      17.2      14.2     15.662500
2010-01-04  大直      21.1      14.3     17.266667
2010-01-05  大直      17.4      13.7     14.845833

In [9]:
def give_temp_year_week(region, region_name):
    ticks = region.ix[:, ['地區', 'max_temp', 'min_temp', 'average_temp']]
    max_temp_perweek = ticks.max_temp.resample('W').mean()
    min_temp_perweek = ticks.min_temp.resample('W').mean()
    average_temp_perweek = ticks.average_temp.resample('W').mean()
    name = ['max_temp', 'min_temp', 'average_temp']
    
    all_date = [i.isocalendar() for i in max_temp_perweek.index]
    year = [x[0] for x in all_date]
    week = [y[1] for y in all_date]
    complete_data = pd.DataFrame({'年':year, '週':week, '地區':region_name, name[0]:max_temp_perweek.values, 
                                  name[1]:min_temp_perweek, name[2]:average_temp_perweek})
    for i in name:
        complete_data[i] = complete_data.pop(i)
    
    complete_data.index = range(len(complete_data))
    return complete_data

In [10]:
Taipei_temp = give_temp_year_week(Taipei, '臺北')
New_Taipei_temp = give_temp_year_week(New_Taipei, '新北')
Taichung_temp = give_temp_year_week(Taichung, '臺中')
Tainan_temp = give_temp_year_week(Tainan, '臺南')
Kaohsiung_temp = give_temp_year_week(Kaohsiung, '高雄')
Taoyuan_temp = give_temp_year_week(Taoyuan, '桃園')

C:\Users\user\Anaconda2\envs\test_py3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [11]:
Taipei_temp.head()

   地區     年   週   max_temp   min_temp  average_temp
0  臺北  2009  53  18.200000  14.400000     16.241667
1  臺北  2010   1  18.328571  14.042857     15.717857
2  臺北  2010   2  17.042857  11.428571     14.413690
3  臺北  2010   3  22.042857  15.914286     18.905357
4  臺北  2010   4  21.557143  16.142857     18.567262

In [12]:
six_cities_temp = pd.concat([Taipei_temp, New_Taipei_temp, Taichung_temp, Tainan_temp, Kaohsiung_temp, Taoyuan_temp], axis=0).reset_index(drop=True)
#2017年的桃園47周的缺失值補台北的
six_cities_temp.ix[2502, ['max_temp', 'min_temp', 'average_temp']] = six_cities_temp.ix[412, ['max_temp', 'min_temp', 'average_temp']]
six_cities_temp.ix[2503, ['max_temp', 'min_temp', 'average_temp']] = six_cities_temp.ix[413, ['max_temp', 'min_temp', 'average_temp']]

C:\Users\user\Anaconda2\envs\test_py3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

In [13]:
six_cities_temp.tail(100)

      地區     年   週   max_temp   min_temp  average_temp
2408  桃園  2016   5  15.271429  10.642857     12.543737
2409  桃園  2016   6  23.457143  11.942857     17.334524
2410  桃園  2016   7  14.985714  11.671429     13.222619
2411  桃園  2016   8  16.800000  13.085714     14.504762
2412  桃園  2016   9  23.285714  14.471429     18.360498
2413  桃園  2016  10  18.871429  13.857143     16.006548
2414  桃園  2016  11  18.114286  15.214286     16.630952
2415  桃園  2016  12  17.085714  12.185714     14.500078
2416  桃園  2016  13  24.742857  16.042857     20.198654
2417  桃園  2016  14  28.100000  21.114286     23.766667
2418  桃園  2016  15  25.114286  19.642857     21.873602
2419  桃園  2016  16  28.585714  21.042857     24.277924
2420  桃園  2016  17  27.785714  21.142857     23.952957
2421  桃園  2016  18  31.785714  24.271429     27.852880
2422  桃園  2016  19  30.914286  23.714286     27.024031
2423  桃園  2016  20  26.700000  21.328571     23.578112
2424  桃園  2016  21  31.585714  25.257143     27.709369
2425  桃園  2016  22  34.057143  27.028571     30.089816
2426  桃園  2016  23  31.414286  25.514286     27.883618
2427  桃園  2016  24  33.200000  25.085714     28.924845
2428  桃園  2016  25  34.333333  27.550000     30.764221
2429  桃園  2016  26  34.271429  25.242857     29.232324
2430  桃園  2016  27  33.842857  26.771429     29.586438
2431  桃園  2016  28  34.385714  27.214286     30.145972
2432  桃園  2016  29  34.766667  27.483333     30.484722
2433  桃園  2016  30  36.457143  28.057143     31.623214
2434  桃園  2016  31  34.742857  27.542857     30.598887
2435  桃園  2016  32  33.742857  27.000000     29.683333
2436  桃園  2016  33  33.328571  26.842857     29.812086
2437  桃園  2016  34  34.257143  26.742857     30.046429
...   ..   ...  ..        ...        ...           ...
2478  桃園  2017  23  32.685714  26.285714     29.297024
2479  桃園  2017  24  27.742857  23.185714     25.158929
2480  桃園  2017  25  32.385714  25.957143     28.671527
2481  桃園  2017  26  33.914286  26.514286     29.517805
2482  桃園  2017  27  33.814286  25.757143     29.042857
2483  桃園  2017  28  34.028571  26.971429     30.326579
2484  桃園  2017  29  36.214286  27.957143     31.327110
2485  桃園  2017  30  34.600000  27.685714     30.510145
2486  桃園  2017  31  34.085714  26.800000     29.865062
2487  桃園  2017  32  35.857143  28.985714     31.847619
2488  桃園  2017  33  34.885714  28.142857     31.064907
2489  桃園  2017  34  34.257143  27.385714     30.464079
2490  桃園  2017  35  31.766667  26.583333     28.837838
2491  桃園  2017  36  33.342857  26.971429     29.802381
2492  桃園  2017  37  32.214286  25.457143     28.606548
2493  桃園  2017  38  34.471429  26.714286     30.061310
2494  桃園  2017  39  34.342857  27.671429     30.552148
2495  桃園  2017  40  31.871429  26.271429     28.495238
2496  桃園  2017  41  29.414286  25.271429     27.193452
2497  桃園  2017  42  23.340000  20.780000     21.997500
2498  桃園  2017  43  25.071429  19.342857     21.875595
2499  桃園  2017  44  23.785714  19.171429     21.358075
2500  桃園  2017  45  26.642857  21.600000     23.769048
2501  桃園  2017  46  24.614286  20.128571     22.048214
2502  桃園  2017  47  20.600000  17.942857     19.169859
2503  桃園  2017  48  24.128571  19.928571     22.027381
2504  桃園  2017  49  17.900000  12.050000     14.997917
2505  桃園  2017  50  18.857143  15.028571     16.815476
2506  桃園  2017  51  19.200000  13.985714     16.286905
2507  桃園  2017  52  20.142857  16.057143     17.577976

[100 rows x 6 columns]

In [13]:
# six_cities_temp.to_csv('six_cities_temp.csv', index=False)